colorama==0.4.6
contourpy==1.2.1
captum=0.8.0
dask==2024.5.1
dice-ml==0.11
dill==0.3.8
grpcio==1.60.1
grpcio-tools==1.60.1
joblib==1.4.2
keras==3.4.1
kiwisolver==1.4.5
matplotlib==3.9.0
ml-dtypes==0.3.2
numpy==1.26.4
pandas==1.5.3
protobuf==4.25.3
PyALE==1.2.0
pyDVL==0.8.0
PyYAML==6.0.1
scikeras==0.13.0
scikit-learn==1.4.2
scikit-optimize==0.9.0
scipy==1.10.1
tensorboard==2.16.2
tensorflow==2.16.2
torch==2.1.2
tqdm==4.66.4
umap-learn==0.5.6
xgboost==2.0.3
zarr==2.18.1
zict==3.0.0
xport
ipykernel
ipython 
aix360
raiutils